.nbtags-base {
    position: absolute;
    right: -1em;
}

.nbtags-tag {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-right: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    z-index: 100;
}
.nbtags-tag p {
    margin: 0;
    padding: 0;
}
