.nbtags-base {
    position: absolute;
    right: -1em;
    z-index: 100;
}

.list_item .nbtags-base {
    right: -4em;
    top: 0em;
}

.nbtags-tag {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-size: 0.8em;
    background: #f4f4f4;
    border-right: solid 6px #ccc;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.nbtags-refresh {
    margin-right: 0.5em;
}

.nbtags-refresh.fa-spin {
    color: #bbb;
}

.nbtags-has-page {
    border-right: solid 6px #5bb7ae;
}

.list_item .nbtags-has-page {
    border-right: solid 6px #4169e1;
}

.nbtags-tag p {
    margin: 0;
    padding: 0;
}

.nbtags-tag * {
    color: #999;
}

.nbtags-has-page * {
    color: #222;
}

.nbtags-error {
    color: red;
    font-weight: bold;
}
